*{
    margin: 0px auto 0px auto;
}

body{
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 18px;
    background: url('../images/timbo.jpg') no-repeat center center fixed;
    background-size: cover;
}

/*APP.JS*/

#appContainer{
    width: 100%; 
    margin: 0px;
    padding: 0px;
}


/*HEADER.JS*/
header{
    display: inline-block;
    position: relative;
    width: 100%;
    margin: 0px;
    padding: 10px 0px 10px 0px;
    background-color: rgba(0, 0, 0, 0.5);
}
#text{
    color: white;
}
.logo{
    float: left;
    font-weight: bolder;
    margin: 0px 0px 0px 20px;
    font-size: 25px;
}

nav{
    float: right;
    width: 340px;
    margin: 5px 0px 0px 40px;
    padding: 0px;
}

nav ul li{
    list-style-type: none;
    display: inline-block;
    margin-right: 60px; 
}

nav ul li a{
    font-weight: bold;
    color: white;
    text-decoration: none;
    transition-property: all;
    transition-duration: .4s;
    cursor: pointer;
}

nav ul li a:hover{
    color: skyblue;
    font-weight: bold;
    padding-bottom: 5px;
    border-bottom: 1.5px solid skyblue;
}
.lastLink{
    margin: 0px;
}
/*HEADER.JS END*/

/*PAGES STYLE*/

#container{
    margin: 50px 0px 0px 20px;
    padding: 20px;
    width: 550px;
    background-color: rgba(0, 0, 0, 0.5);
}

#home h1{
    margin-bottom: 20px;
    font-size: 30px;
}

.startButton{
    margin: 50px 0px 20px 200px;
}




